In [10]:
#!/usr/bin/env python
# coding: utf-8

import pandas as pd
import pandas_gbq
from pykrx import stock
from pykrx import bond
import FinanceDataReader as fdr


from time import sleep

import psycopg2 as pg2
from sqlalchemy import create_engine

from datetime import datetime
from datetime import timedelta

import os
import time

import glob
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud import storage


# 경로 변경
os.chdir('/home/shjj08choi/finance_mlops')


# 서비스 계정 키 JSON 파일 경로
key_path = glob.glob("key_value/*.json")[0]

# Credentials 객체 생성
credentials = service_account.Credentials.from_service_account_file(key_path)

# 빅쿼리 정보
project_id = 'owenchoi-396200'
dataset_id = 'finance_mlops'

# GCP 클라이언트 객체 생성
storage_client = storage.Client(credentials = credentials,
                         project = credentials.project_id)
bucket_name = 'finance-mlops-1'     # 서비스 계정 생성한 bucket 이름 입력

In [16]:
credentials = service_account.Credentials.from_service_account_file(key_path)

query = """SELECT * FROM `owenchoi-396200.finance_mlops.kor_stock_ohlcv`
        where ticker = '005930'
"""
df = pd.read_gbq(query=query, project_id=project_id, credentials=credentials, dialect='standard')

In [17]:
df.head()

,date,open,high,low,close,volume,price_change_percentage,ticker
0,2023-09-18 00:00:00+00:00,71300,71700,70200,70200,16040727,-2.50,005930
1,2023-08-28 00:00:00+00:00,66800,67000,66500,66800,5824628,-0.45,005930
2,2023-08-29 00:00:00+00:00,66900,67200,66600,66800,9114352,0.00,005930
3,2023-08-30 00:00:00+00:00,67300,67700,67100,67100,9181223,0.45,005930
4,2023-08-31 00:00:00+00:00,67100,67200,66400,66900,15964630,-0.30,005930

In [14]:
kor_stock_ohlcv = pd.read_csv('data_crawler/kor_stock_ohlcv/kor_stock_ohlcv_20230825.csv', dtype = {'ticker':object})

In [15]:
kor_stock_ohlcv.head()

,date,open,high,low,close,volume,price_change_percentage,ticker
0,2018-01-02,6980,6990,6850,6970,60294,0.000000,095570
1,2018-01-03,6970,7000,6910,6920,45848,-0.717360,095570
2,2018-01-04,6990,7100,6920,7070,53176,2.167630,095570
3,2018-01-05,7080,7300,7040,7250,58573,2.545969,095570
4,2018-01-08,7330,7330,7100,7130,47104,-1.655172,095570